<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.phfactor.meltdown"
    android:versionCode="61"
    android:versionName="0.9.1" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.PERSISTENT_ACTIVITY" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="net.phfactor.meltdown.MeltdownApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light" >
        <activity
            android:name="net.phfactor.meltdown.GroupsActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="net.phfactor.meltdown.SetupServerActivity" />
        <activity
            android:name="net.phfactor.meltdown.ItemsActivity" />
        <activity
            android:name="net.phfactor.meltdown.ItemDisplayActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="android.app.ListActivity" />
        </activity>
        <activity android:name="net.phfactor.meltdown.AboutActivity" >
        </activity>
        <activity
            android:name="net.phfactor.meltdown.SetupPostURL" >
        </activity>
        <activity android:name=".PreferencesActivity" />
    
        <!-- Services -->
        <service
            android:name="net.phfactor.meltdown.Downloader"
            android:enabled="true" >
        </service>
    </application>

</manifest>